* {
    background-color: white;

}

ion-spinner {
    width: 200px;
    height: 200px;
    margin-left: 90px;
}

ion-item {
    display: flex;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según sea necesario */

}