<br>
<br>
<img src="../../assets/Img/RegistrAPP-3-9-2024.png" alt="">

<br>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      {{ getErrorMessage('email') }}
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      {{ getErrorMessage('password') }}
    </ion-text>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select formControlName="role">
        <ion-select-option value="alumno">Alumno</ion-select-option>
        <ion-select-option value="profesor">Profesor</ion-select-option>
      </ion-select>
    </ion-item>



    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="loginForm.invalid">INGRESAR</ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="goToResetPassword()" class="btn-ol">
    ¿Olvidaste tu contraseña?
  </ion-button>
<br>
<br><b><br><br></b>


  <ion-button expand="block" fill="clear" (click)="borrarDatos()" class="olawe">
    Borrar todos los datos
  </ion-button>
</ion-content>