<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="olawea">
  <h2>Bienvenido</h2>
  <h2>{{ correo }}</h2>
  </div>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>RegistrAPP - Panel de Alumno</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Desde aquí puede escanear el código QR para registrar su asistencia.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="escanearQR()" class="ion-margin-top" >Escanear Código QR</ion-button>

  <ion-button expand="block" (click)="logout()" class="ion-margin-top">Cerrar Sesión</ion-button>
</ion-content>