<ion-content class="ion-padding">
  <img src="../../assets/Img/RegistrAPP-3-9-2024.png" alt="">

  <form [formGroup]="registroform" (ngSubmit)="onSubmit()" class="login-form">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroform.get('nombre')?.touched && registroform.get('nombre')?.invalid">
      El nombre es requerido
    </ion-text>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroform.get('email')?.touched && registroform.get('email')?.invalid">
      {{ getErrorMessage('email') }}
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="registroform.get('password')?.touched && registroform.get('password')?.invalid">
      {{ getErrorMessage('password') }}
    </ion-text>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-select formControlName="role">
        <ion-select-option value="alumno">Alumno</ion-select-option>
        <ion-select-option value="profesor">Profesor</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="registroform.invalid">REGISTRARSE</ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="goToLogin()" class="btn-ol">
    ¿Ya tienes cuenta? Inicia sesión
  </ion-button>


  <ion-button expand="block" fill="clear" (click)="borrarDatos()" class="olawe">
    Borrar todos los datos
  </ion-button>
</ion-content>